*{
    overflow-x: hidden;
    overflow-y: hidden;
}
.animated {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.animated.active {
    opacity: 1;
}
#startAnimations{
    position: fixed;
    width: 300px;
    height: 300px;
    border: 10px solid white;
    color: black;
    top: 400px;
}
.container-dark{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 632px;
    border: 1px transparent black;
    gap: 20px;
    position: relative;
    box-shadow: var(--gray1) 1px 1px 15px;
    background: linear-gradient(
  var(--gradient-angle),
  #000000,
  rgb(17, 17, 17),
  rgb(34, 34, 34),
  rgb(51,51,51),
  rgb(68,68,68),
  rgb(85,85,85),
  rgb(102, 102, 102),
  rgb(85,85,85),
  rgb(68,68,68),
  rgb(51,51,51),
  rgb(34, 34, 34),
  rgb(17, 17, 17),
  #000000);
  animation: rotation 40s linear infinite;
  transition: all 0.3s ease-in-out;
}
.middle-circle{
    position: absolute;
    border: 15px solid rgb(255, 104, 104);
    box-shadow: inset -1px -1px 20px rgb(255, 77, 77);
    margin: auto;
    width: 190px;
    height: 190px;
    border-radius: 50%;
}
.middle-circle-2{
    position: absolute;
    border: 15px transparent rgb(255, 43, 43);
    box-shadow: -1px -1px 80px rgb(255, 77, 77);
    margin: auto;
    width: 190px;
    height: 190px;
    border-radius: 50%;
}
.black-middle-circle{
    position: absolute;
    border: 15px transparent rgb(255, 43, 43);
    box-shadow: inset -1px -1px 30px rgb(209, 209, 209);
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.black-middle-circle-c{
    position: absolute;
    border: 15px transparent rgb(255, 43, 43);
    box-shadow: inset -1px -1px 30px rgb(209, 209, 209);
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.black-middle-circle-b{
    position: absolute;
    border: 15px transparent rgb(255, 43, 43);
    box-shadow: inset -1px -1px 1000px rgb(0, 0, 0);
    margin: auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.red-middle-circle-b{
    position: absolute;
    border: 15px transparent rgb(255, 43, 43);
    box-shadow: -1px -1px 10px rgb(255, 0, 0);
    margin: auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
.black-middle-circle-2{
    position: absolute;
    border: 15px transparent rgb(255, 43, 43);
    box-shadow:inset -1px -1px 9000px rgb(236, 92, 92);
    margin: auto;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
}
.gray-circle{
    position: absolute;
    border: 300px solid rgb(71, 71, 71);
    margin: auto;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.black-middle-circle-test-darken-b-1{
    --shadow: 20px;
    position: absolute;
    border: 15px transparent rgb(0, 0, 0);
    box-shadow: -1px -1px 500px rgb(0, 0, 0);
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
@keyframes fading{
    0%{
        box-shadow:inset -1px -1px var(--shadow) rgb(0, 0, 0);
    }
    50%{
        box-shadow:inset -1px -1px var(--shadow) rgb(255, 0, 0);
    }
    100%{
        box-shadow:inset -1px -1px var(--shadow) rgb(0, 0, 0);
    }
}
@keyframes color-fading2{
    0%{
        background: black;
    }
    16%{
        background:linear-gradient(#630000, black, #630000, black);
    }
    32%{
        background:linear-gradient(#290037, black, #290037, black);
    }
    48%{
        background:linear-gradient(#630000, black, #630000, black);
    }
    64%{
        background:linear-gradient(#290037, black, #290037, black);    
    }
    80%{
        background:linear-gradient(#630000, black, #630000, black);
    }
    100%{
        background: black;
    }
}
.black-middle-circle-test-darken-b-2{
    --shadow: 20px;
    position: absolute;
    border: 15px transparent rgb(0, 0, 0);
    box-shadow: inset -1px -1px 1000px rgb(0, 0, 0);
    margin: auto;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
}
.black-middle-circle-test-darken-a-1{
    --shadow: 20px;
    position: absolute;
    border: 15px transparent rgb(0, 0, 0);
    box-shadow:inset -1px -1px 1000px rgb(0, 0, 0);
    margin: auto;
    width: 1000px;
    height: 500px;
    border-radius: 50%;
}
.black-middle-circle-test-darken2{
    --shadow: 20px;
    position: absolute;
    border: 15px transparent rgb(0, 0, 0);
    box-shadow:inset -1px -1px 1000px rgb(0, 0, 0);
    margin: auto;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
}
.black-middle-circle-test{
    --startingwh: 1000px;
    --shadow: 20px;
    position: absolute;
    border: 15px transparent rgb(0, 0, 0);
    box-shadow:inset -1px -1px var(--shadow) rgb(0, 0, 0);
    margin: auto;
    width: var(--startingwh);
    height: var(--startingwh);
    border-radius: 50%;
    animation: fading 5s ease-in-out 1;
}
@keyframes color-shift-2{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.eldritch-eye-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px transparent white;
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius:  80% 6%;
    transform: rotate(45deg);
    overflow: hidden;
}
.eldritch-eye-container::before {
    content: '';
    position: absolute;
    border: 5px transparent rgb(255, 0, 0);
    top: -5px;
    left: -10px;
    right: 10px;
    bottom: 0;
    width: 360px;
    height: 360px;
    border-radius:  80% 6%;
    background-image: url(images/cosmic-radiance.jpg);
    background-size: cover;
    filter: blur(10px);
    z-index: 0;
    opacity: 0;
    animation:invisible 16s 24s ease-in 1;
}
@keyframes pulsating{
    0%{
        transform: scale(1.0,1.0);
    }
    50%{
        transform: scale(2, 2);
    }
    100%{
        transform: scale(1.0,1.0);
    }
}
@keyframes retracting{
    0%{
        transform: scale(1.0,1.0);
    }
    50%{
        transform: scale(0.8, 0.8);
    }
    100%{
        transform: scale(1.0,1.0);
    }
}
@keyframes moving-eyeball{
    0%{
        transform: translate(0,0);
    }
    33%{
        transform: translate(-70px, -25px);
    }
    66%{
        transform: translate(70px, -50px);
    }
    100%{
        transform: translate(none);
    }
}
@keyframes rotating-eye{
    0%{
        rotate: -90;
    }
    23%{
        rotate: -20deg;
    }
    50%{
        rotate: 120deg;
    }
    78%{
        rotate: 210deg;
    }
    100%{
        rotate: 270deg;
    }
}
@keyframes rotating-eye-2{
    0%{
        rotate: 0;
    }
    23%{
        rotate: 70deg;
    }
    50%{
        rotate: 210deg;
    }
    78%{
        rotate: 300deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes rotating-pupil{
    0%{
        rotate: 0;
    }
    23%{
        rotate: 70deg;
    }
    50%{
        rotate: 210deg;
    }
    78%{
        rotate: 300deg;
    }
    100%{
        rotate: 360deg;
    }
}
@keyframes rotating-eyeball{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.eldritch-eyeball{
    position: relative;
    border: 5px solid black;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    box-shadow: inset 1px 1px 30px rgb(255, 0, 0);
    background-image: conic-gradient(
    black,
    white,
    black,
    white,
    black,
    white,
    black,
    );
    opacity: 0;
    background-size: 200%;
    animation: color-shift- 10s 24s ease infinite,
    pulsating 8s 24s ease-in-out 2,
    invisible 16s 24s ease-in 1,
    moving-eyeball 8s 24s ease 2;
    z-index: 1;
}
@keyframes invisible{
    0%{
        opacity: 1;
    }
    96%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.eldritch-eyeball::before{
    z-index:-1;
    content:'';
    position:absolute;
    inset: -25%;
    background: conic-gradient(
    black,
    rgb(57, 0, 0),
    black,
    rgb(57, 0, 0),
    black,
    rgb(57, 0, 0),
    black,
    rgb(57, 0, 0),
    black,
    rgb(57, 0, 0),
    black,
    rgb(57, 0, 0),
    black
    );
    animation: rotating-eyeball 8s 24s linear 2,
    change-color-1 4s 28s linear 1,
    change-color-1-a 4s 32s linear 1,
    change-color-1-b 4s 36s linear;
}/* make eye brighter*/
@keyframes change-color-1{
    0%{
        background: conic-gradient(
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black);
    box-shadow: 1px 1px 30px white;
    }
    100%{
        background: conic-gradient(
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black,
    rgb(255, 255, 255),
    #6f6f6f,
    black);
    box-shadow: 1px 1px 30px white;
    }
}
@keyframes change-color-1-a{
    0%{
        background: conic-gradient(
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255)
    );
    box-shadow: 1px 1px 30px white;
    }
    100%{
        background: conic-gradient(
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255),
    rgb(10, 0, 86),
    #00657b,
    rgb(146, 242, 255)
    );
    box-shadow: 1px 1px 30px white;
    }
}
@keyframes change-color-1-b{
    0%{
        background: black;
    }
    100%{
        background: black;
    }
}
.eldritch-sclera{
    --blink1: 100%;
    --blink2: 0%;
    opacity: 0;
    position: relative;
    left: 457px;
    overflow: hidden;
    margin: 100px;
    width: 350px;
    height: 350px;
    border: solid 15px rgb(57, 0, 0);
    background: linear-gradient(136deg, black var(--blink1), transparent var(--blink2));
    border-radius:  80% 6%;
    position: relative;
    transform: rotate(45deg);
    z-index: 2; 
    animation: blink 4s 24s linear 3,
    open-your-eyes 16s 36s ease-in infinite,
    invisible 16s 24s ease-in 1;
}
@keyframes blink{
    0%{
        --blink1: 0%;
        --blink2: 100%;
    }
    80%{
        --blink1: 0%;
        --blink2: 100%;
    }
    100%{
        --blink1: 100%;
        --blink2: 0%;
    }
}
@keyframes open-your-eyes{
    0%{
        --blink1: 0%;
        --blink2: 100%
    }
    100%{
        --blink1: 0%;
        --blink2: 100%
    }
}
.eldritch-eye-background{
    filter: blur(9px);
}
.eldritch-pupil-large{
    position: absolute;
    left: 75px;
    bottom: -30px;
    margin-top: 10px;
    border: 5px transparent black;
    box-shadow: 1px 1px 10px rgb(57, 0, 0);
    background: linear-gradient(
        #aa0000,
        #0d004d,
        black, 
        #0d004d,
        #aa0000
    );
    background-size: 200%;
    animation: color-shift-2 10s 24s ease infinite,
    rotating-eye-2 8s 24s ease 2,
    retracting 5s 24s ease 3,
    change-color-2 4s 28s linear 1,
    change-color-2-a 4s 32s linear 1,
    change-color-2-b 4s 36s linear 1;
    border-radius: 50%;
    width: 100px;
    height: 300px;
}
@keyframes change-color-2{
    0%{
        background: linear-gradient(
        #ffd630,
        #25ff67,
        white, 
        #25ff67,
        #ffd630
    );
    box-shadow: 1px 1px 30px white;
    }
    100%{
        background: linear-gradient(
        #ffd630,
        #25ff67,
        white, 
        #25ff67,
        #ffd630
    );
    box-shadow: 1px 1px 30px white;
    }
}
@keyframes change-color-2-a{
    0%{
        background: linear-gradient(
        #560000,
        #ffa321,
        white, 
        #ffa321,
        #560000
    );
    box-shadow: 1px 1px 30px white;
    }
    100%{
        background: linear-gradient(
        #560000,
        #ffa321,
        white, 
        #ffa321,
        #560000
    );
    box-shadow: 1px 1px 30px white;
    }
}
@keyframes change-color-2-b{
    0%{
        background: linear-gradient(
        #000000,
        #000000,
        white, 
        #000000,
        #000000
    );
    box-shadow: 1px 1px 30px white;
    }
    100%{
        background: linear-gradient(
            #000000,
            #000000,
            white, 
            #000000,
            #000000
    );
    box-shadow: 1px 1px 30px white;
    }
}
.eldritch-pupil-large-across{
    position: absolute;
    rotate: 90deg;
    left: 75px;
    top: -30px;
    margin-top: 5px;
    border: 5px transparent black;
    box-shadow: 1px 1px 10px rgb(57, 0, 0);
    background: linear-gradient(
        #aa0000,
        #0d004d,
        black, 
        #0d004d,
        #aa0000
    );
    background-size: 200%;
    animation: color-shift-2 10s 25s ease infinite,
    rotating-eye 8s 24s ease 2,
    retracting 5s 24s ease 3,
    change-color-2 4s 28s linear 1,
    change-color-2-a 4s 32s linear 1,
    change-color-2-b 4s 36s linear 1;
    border-radius: 50%;
    width: 100px;
    height: 300px;
}
.eldritch-pupil-small{
    position: relative;
    left: 114px;
    top: 30px;
    align-items: center;
    margin-top: 5px;
    border: 5px solid rgb(57, 0, 0);
    box-shadow: 1px 1px 10px rgb(57, 0, 0);
    background: black;
    border-radius: 50%;
    width: 15px;
    height: 180px;
    animation: retracting 5s 24s ease 3,
    rotating-eye-2 8s 24s ease 2,
    change-color-3 4s 36s linear 1;
}
@keyframes change-color-3{
    0%{
        background: rgb(255, 255, 255);
        border: 5px solid white;
        box-shadow: 1px 1px 30px white;
    }
    100%{
        background: rgb(255, 255, 255);
        border: 5px solid white;
        box-shadow: 1px 1px 30px white;
    }
}
.eldritch-pupil-small-across{
    position: relative;
    align-items: center;
    rotate: 90deg;
    bottom: 168px;
    left: 114px;
    margin-top: 5px;
    border: 5px solid rgb(57, 0, 0);
    box-shadow: 1px 1px 10px rgb(57, 0, 0);
    background: black;
    border-radius: 50%;
    width: 15px;
    height: 180px;
    animation: retracting 5s 24s ease 3,
    rotating-eye 8s 24s ease 2,
    change-color-3 4s 36s linear 1;
}
.eldritch-pupil-small-shadow{
    position: absolute;
    left: 70px;
    top: 23px;
    align-items: center;
    margin-top: 5px;
    border: 25px transparent black;
    width: 5px;
    height: 80px;
}
.scary-message{
    position: relative;
    right: 280px;
    font-size: 180px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 12px rgb(47, 0, 0);
    z-index: 3;
    opacity: 0;
    animation: reveal-message 2s 42s ease-in-out 1;
}
@keyframes reveal-message{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes flickering{
    0%{
        box-shadow:inset -1px -1px var(--shadow) rgb(0, 0, 0);
    }
    50%{
        box-shadow:inset -1px -1px var(--shadow) rgb(255, 0, 0);
    }
    100%{
        box-shadow:inset -1px -1px var(--shadow) rgb(0, 0, 0);
    }
}
.black-middle-circle-test:nth-child(1) {
    width: var(--startingwh);
    height: var(--startingwh);
    animation: fading 1s 2.5s ease-in-out 1,
    flickering 0.3s 3.5s linear 122;
}
.black-middle-circle-test:nth-child(2) {
    width: calc(var(--startingwh) - 10px);
    height: calc(var(--startingwh) - 10px);
    animation: fading 1s 3s ease-in-out 1,
    flickering 0.3s 4s linear 120;
}
.black-middle-circle-test:nth-child(3) {
    width: calc(var(--startingwh) - 20px);
    height: calc(var(--startingwh) - 20px);
    animation: fading 1s 3.5s ease-in-out 1,
    flickering 0.3s 4.5s linear 118;
}
.black-middle-circle-test:nth-child(4) {
    width: calc(var(--startingwh) - 30px);
    height: calc(var(--startingwh) - 30px);
    animation: fading 1s 4s ease-in-out 1,
    flickering 0.3s 5s linear 116;
}
.black-middle-circle-test:nth-child(5) {
    width: calc(var(--startingwh) - 40px);
    height: calc(var(--startingwh) - 40px);
    animation: fading 1s 4.5s ease-in-out 1,
    flickering 0.3s 5.5s linear 114;
}
.black-middle-circle-test:nth-child(6) {
    width: calc(var(--startingwh) - 50px);
    height: calc(var(--startingwh) - 50px);
    animation: fading 1s 5s ease-in-out 1,
    flickering 0.3s 6s linear 112;
}
.black-middle-circle-test:nth-child(7) {
    width: calc(var(--startingwh) - 60px);
    height: calc(var(--startingwh) - 60px);
    animation: fading 1s 5.5s ease-in-out 1,
    flickering 0.3s 6.5s linear 110;
}
.black-middle-circle-test:nth-child(8) {
    width: calc(var(--startingwh) - 70px);
    height: calc(var(--startingwh) - 70px);
    animation: fading 1s 6s ease-in-out 1,
    flickering 0.3s 7s linear 108;
}
.black-middle-circle-test:nth-child(9) {
    width: calc(var(--startingwh) - 80px);
    height: calc(var(--startingwh) - 80px);
    animation: fading 1s 6.5s ease-in-out 1,
    flickering 0.3s 7.5s linear 106;
}
.black-middle-circle-test:nth-child(10) {
    width: calc(var(--startingwh) - 90px);
    height: calc(var(--startingwh) - 90px);
    animation: fading 1s 7s ease-in-out 1,
    flickering 0.3s 8s linear 104;
}
.black-middle-circle-test:nth-child(11) {
    width: calc(var(--startingwh) - 100px);
    height: calc(var(--startingwh) - 100px);
    animation: fading 1s 7.5s ease-in-out 1,
    flickering 0.3s 8.5s linear 100;
}
.black-middle-circle-test:nth-child(12) {
    width: calc(var(--startingwh) - 110px);
    height: calc(var(--startingwh) - 110px);
    animation: fading 1s 8s ease-in-out 1,
    flickering 0.3s 9s linear 98;
}
.black-middle-circle-test:nth-child(13) {
    width: calc(var(--startingwh) - 120px);
    height: calc(var(--startingwh) - 120px);
    animation: fading 1s 8.5s ease-in-out 1,
    flickering 0.3s 9.5s linear 96;
}
.black-middle-circle-test:nth-child(14) {
    width: calc(var(--startingwh) - 130px);
    height: calc(var(--startingwh) - 130px);
    animation: fading 1s 9s ease-in-out 1,
    flickering 0.3s 10s linear 94;
}
.black-middle-circle-test:nth-child(15) {
    width: calc(var(--startingwh) - 140px);
    height: calc(var(--startingwh) - 140px);
    animation: fading 1s 9.5s ease-in-out 1,
    flickering 0.3s 10.5s linear 92;
}
.black-middle-circle-test:nth-child(16) {
    width: calc(var(--startingwh) - 150px);
    height: calc(var(--startingwh) - 150px);
    animation: fading 1s 10s ease-in-out 1,
    flickering 0.3s 11s linear 88;
}
.black-middle-circle-test:nth-child(17) {
    width: calc(var(--startingwh) - 160px);
    height: calc(var(--startingwh) - 160px);
    animation: fading 1s 10.5s ease-in-out 1,
    flickering 0.3s 11.5s linear 86;
}
.black-middle-circle-test:nth-child(18) {
    width: calc(var(--startingwh) - 170px);
    height: calc(var(--startingwh) - 170px);
    animation: fading 1s 11s ease-in-out 1,
    flickering 0.3s 12s linear 84;
}
.black-middle-circle-test:nth-child(19) {
    width: calc(var(--startingwh) - 180px);
    height: calc(var(--startingwh) - 180px);
    animation: fading 1s 11.5s ease-in-out 1,
    flickering 0.3s 12.5s linear 82;
}
.black-middle-circle-test:nth-child(20) {
    width: calc(var(--startingwh) - 190px);
    height: calc(var(--startingwh) - 190px);
    animation: fading 1s 12s ease-in-out 1,
    flickering 0.3s 13s linear 80;
}
.black-middle-circle-test:nth-child(21) {
    width: calc(var(--startingwh) - 200px);
    height: calc(var(--startingwh) - 200px);
    animation: fading 1s 12.5s ease-in-out 1,
    flickering 0.3s 13.5s linear 78;
}
.black-middle-circle-test:nth-child(22) {
    width: calc(var(--startingwh) - 210px);
    height: calc(var(--startingwh) - 210px);
    animation: fading 1s 13s ease-in-out 1,
    flickering 0.3s 14s linear 76;
}
.black-middle-circle-test:nth-child(23) {
    width: calc(var(--startingwh) - 220px);
    height: calc(var(--startingwh) - 220px);
    animation: fading 1s 13.5s ease-in-out 1,
    flickering 0.3s 14.5s linear 74;
}
.black-middle-circle-test:nth-child(24) {
    width: calc(var(--startingwh) - 230px);
    height: calc(var(--startingwh) - 230px);
    animation: fading 1s 14s ease-in-out 1,
    flickering 0.3s 15s linear 72;
}
.black-middle-circle-test:nth-child(25) {
    width: calc(var(--startingwh) - 240px);
    height: calc(var(--startingwh) - 240px);
    animation: fading 1s 14.5s ease-in-out 1,
    flickering 0.3s 15.5s linear 70;
}
.black-middle-circle-test:nth-child(26) {
    width: calc(var(--startingwh) - 250px);
    height: calc(var(--startingwh) - 250px);
    animation: fading 1s 15s ease-in-out 1,
    flickering 0.3s 16s linear 68;
}
.black-middle-circle-test:nth-child(27) {
    width: calc(var(--startingwh) - 260px);
    height: calc(var(--startingwh) - 260px);
    animation: fading 1s 15.5s ease-in-out 1,
    flickering 0.3s 16.5s linear 66;
}
.black-middle-circle-test:nth-child(28) {
    width: calc(var(--startingwh) - 270px);
    height: calc(var(--startingwh) - 270px);
    animation: fading 1s 16s ease-in-out 1,
    flickering 0.3s 17s linear 64;
}
.black-middle-circle-test:nth-child(29) {
    width: calc(var(--startingwh) - 280px);
    height: calc(var(--startingwh) - 280px);
    animation: fading 1s 16.5s ease-in-out 1,
    flickering 0.3s 17.5s linear 62;
}
.black-middle-circle-test:nth-child(30) {
    width: calc(var(--startingwh) - 290px);
    height: calc(var(--startingwh) - 290px);
    animation: fading 1s 17s ease-in-out 1,
    flickering 0.3s 18s linear 60;
}
.black-middle-circle-test:nth-child(31) {
    width: calc(var(--startingwh) - 300px);
    height: calc(var(--startingwh) - 300px);
    animation: fading 1s 17.5s ease-in-out 1,
    flickering 0.3s 18.5s linear 58;
}
.black-middle-circle-test:nth-child(32) {
    width: calc(var(--startingwh) - 310px);
    height: calc(var(--startingwh) - 310px);
    animation: fading 1s 18s ease-in-out 1,
    flickering 0.3s 19s linear 56;
}
.black-middle-circle-test:nth-child(33) {
    width: calc(var(--startingwh) - 320px);
    height: calc(var(--startingwh) - 320px);
    animation: fading 1s 18.5s ease-in-out 1,
    flickering 0.3s 19.5s linear 54;
}
.black-middle-circle-test:nth-child(34) {
    width: calc(var(--startingwh) - 330px);
    height: calc(var(--startingwh) - 330px);
    animation: fading 1s 19s ease-in-out 1,
    flickering 0.3s 20s linear 52;
}
.black-middle-circle-test:nth-child(35) {
    width: calc(var(--startingwh) - 340px);
    height: calc(var(--startingwh) - 340px);
    animation: fading 1s 19.5s ease-in-out 1,
    flickering 0.3s 20.5s linear 50;
}
.black-middle-circle-test:nth-child(36) {
    width: calc(var(--startingwh) - 350px);
    height: calc(var(--startingwh) - 350px);
    animation: fading 1s 20s ease-in-out 1,
    flickering 0.3s 21s linear 48;
}
.black-middle-circle-test:nth-child(37) {
    width: calc(var(--startingwh) - 360px);
    height: calc(var(--startingwh) - 360px);
    animation: fading 1s 20.5s ease-in-out 1,
    flickering 0.3s 21.5s linear 46;
}
.black-middle-circle-test:nth-child(38) {
    width: calc(var(--startingwh) - 370px);
    height: calc(var(--startingwh) - 370px);
    animation: fading 1s 21s ease-in-out 1,
    flickering 0.3s 22s linear 44;
}
.black-middle-circle-test:nth-child(39) {
    width: calc(var(--startingwh) - 380px);
    height: calc(var(--startingwh) - 380px);
    animation: fading 1s 21.5s ease-in-out 1,
    flickering 0.3s 22.5s linear 42;
}
.black-middle-circle-test:nth-child(40) {
    width: calc(var(--startingwh) - 390px);
    height: calc(var(--startingwh) - 390px);
    animation: fading 1s 22s ease-in-out 1,
    flickering 0.3s 23s linear 40;
}

.circle-container{
    display: flex;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
}