.sakura-imaginations-body{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 7000px;
    overflow-x: hidden;
    flex-direction: column;
    gap: 250px;
    user-select: none;
    background: #5c4967;
    display: none;
}
.sakura-imaginations-title{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #8485cd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: pink 1px 1px 20px;
}
.sakura-imaginations-container{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #8485cd;
    border-radius: 10px;
    box-shadow: pink 1px 1px 20px;
    font-family: Optima, sans-serif;
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sakura-imaginations-container-2{
    position: relative;
    width: 100%;
    height: 1400px;
    background-color: #8485cd;
    border-radius: 10px;
    box-shadow: pink 1px 1px 20px;
    font-family: Optima, sans-serif;
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sakura-logo{
    overflow: hidden;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: white 0px 0px 20px;
}
.background-title{
    width: 54%;
    height: 40%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: white 1px 1px 20px;
    user-select: none;
}
.sakura-imaginations-title-container{
    font-size: 80px;
    text-align: center;
    background-image: -webkit-linear-gradient(
    right,
    #e5dada,
    #fcbee1,
    #c1afeb,
    #8485cd,
    #e5dada
    );
    animation: color-shift 90s linear infinite;
    background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: 900;
}
.container-1{
    width: 1100px;
    height: 350px;
    border-radius: 10px;
    color: white;
    box-shadow: white 0px 0px 15px;
    background: var(--pink1);
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-2{
    width: 1100px;
    height: 450px;
    border-radius: 10px;
    color: white;
    box-shadow: white 0px 0px 15px;
    background: var(--pink1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    font-weight: 1000;
}
.message-1{
    font-size: 20px;
    color: white;
}
.hidden-message{
    position: absolute;
    right: 280px;
    bottom: 280px;
    width: 220px;
    height: 40px;
    color: var(--pink1);
    font-size: 30px;
    user-select: text;
}
.container-3{
    position: absolute;
    z-index: 999;
    width: 1100px;
    height: 450px;
    border-radius: 10px;
    color: #c977bd;
    box-shadow: white 0px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.previous{
    position: absolute;
    pointer-events: auto;
    z-index: 999;
    left: 40px;
    width: 0;
    height: 0;
    background: var(--teal1);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    width: 40px;
    height: 40px;
    border: none;
}
.next{
    position: absolute;
    pointer-events: auto;
    z-index: 999;
    right: 40px;
    width: 0;
    height: 0;
    background: var(--teal1);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    width: 40px;
    height: 40px;
    rotate: 180deg;
    border: none;
}
.slideshow{
    height: 450px;
    width: 1000px;
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-4{
    position: absolute;
    opacity: 0;
    width: 1100px;
    height: 450px;
    border-radius: 10px;
    color: white;
    box-shadow: white 0px 0px 15px;
    background: var(--pink1);
    padding: 40px;
    padding-top: 30px;
    font-size: 35px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.active{
    opacity: 1;
}
.meet-the-team{
    padding-left: 90px;
    padding-right: 90px;
    font-size: 25px;
}
.profile-picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 35%; 
    font-size: 30px;
    border-radius: 5px;
}
.profile-facts{
    margin-top: 20px;
    font-size: 17px;
}
.profile-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 50%; 
    font-size: 17px;
}
.container-5{
    z-index: 999;
    width: 1100px;
    height: 450px;
    border-radius: 10px;
    color: white;
    background: black;
    box-shadow: white 0px 0px 15px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.archives{
    border-radius: 10px;
    height: 300px;
    width: 700px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.archives-password{
    all: unset;
    width: 200px;
    height: 30px;
    color: black;
    border: white;
    font-size: 15px;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-align: center;
}
.container-6{
    z-index: 999;
    width: 1300px;
    height: 1130px;
    border-radius: 10px;
    color: white;
    background: var(--pink1);
    box-shadow: white 0px 0px 15px;
    font-size: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-crossword{
    width: 1200px;
    height: 1050px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.crossword-clues{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 300px;
    position: relative;
    padding: 5px;
    gap: 30px;
}
.across{
    width: 550px;
    height: 300px;
    border-radius: 5px;
    line-height: 18px;
    padding: 5px;
    background-color: var(--pink1);
    color: white;
    font-family: Optima, sans-serif;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}
.down{
    width: 550px;
    height: 300px;
    border-radius: 5px;
    line-height: 18px;
    padding: 5px;
    background-color: var(--pink1);
    color: white;
    font-family: Optima, sans-serif;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}
.crossword{
    display: grid;
    grid-template-rows: repeat(22, 30px);
}
.row {
    display: grid;
    grid-template-columns: repeat(27, 30px);
    background: white;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    font-weight: 900;
    font-family: Optima, sans-serif;
}
.unused{
    border: none;
}
.insert{
    display: block;
    position: relative;
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 0px solid;
    font-family: Optima, sans-serif;
    font-weight: 900;
    z-index: 1;
}
.insert:focus {
    outline: none;
    width: 29.8px;
    height: 29.8px;
}
.number {
    position: relative;
    bottom: 54px;
    left: 1px;
    font-weight: 300;
    color: #000;
    font-size: 9px;
    z-index: 10;
}
.highlighted{
    background-color: aquamarine;
}
.container-7{
    width: 900px;
    height: 350px;
    border-radius: 10px;
    color: white;
    box-shadow: white 0px 0px 15px;
    background: var(--pink1);
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.employee-login{
    width: 600px;
    height: 270px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.email-input{
    all: unset;
    width: 230px;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 18px;
}
.password{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.password-input{
    all: unset;
    width: 200px;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 18px;
}
.submit{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}